body {
    background: #fff!important;
}

@media print
{
    @page
    {
        size: A5;
        /*size: 8.5in 11in landscape;*/
        /*size: 148mm 210mm landscape;*/
    }
}
.table-form043 {
    border: 1px solid #000;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.table-form043 input {
    max-width: 40px;
}

.table-form043 tr {
    width: 100%;
}

.table-form043 tr:nth-child(2n) {
    background: #e2e1e1;
}

.table-form043 tr:first-child th {
    border-top: 1px solid #000;

}

.table-form043 th {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: inherit;
}

.table-form043 th:last-child {
    border-right: 0px;
    width: inherit;
}

.table-form043 tr:last-child th {
    border-bottom: 0px;
    width: inherit;
}

.table-form043-diary {
    border: 1px solid #000;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.table-form043-diary tr:first-child th {
    border-top: 1px solid #000;

}

.table-form043-diary th {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: inherit;
}

.table-form043-diary tr {
    width: 100%;
}

.table-form043-diary th:last-child {
    border-right: 0px;
    width: inherit;
}

.table-form043-diary tr:last-child th {
    border-bottom: 0px;
    width: inherit;
}

.table-form043-diary tr th:first-child {
    width: 20% !important;
}

.table-form043-diary th input {
    width: 100%;
}


.table-form043-plan tbody {
    width: 100% !important;

}

.table-form043-plan tr:first-child th {
    border-top: 1px solid #000;

}

.table-form043-plan {
    border: 1px solid #000;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.table-form043-plan tr th {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 50% !important;

}

.table-form043-plan tr {
    width: 100% !important;
}

.table-form043-plan tr th input {
    width: 100%;
}

.table-form043-plan th:last-child {
    border-right: 0px;
    width: inherit;
}

.table-form043-plan tr:last-child th {
    border-bottom: 0px;
    width: inherit;
}